###< symfony/framework-bundle ###

###> symfony/mailer ###
#MAILER_DSN=smtp://localhost
#MAILER_DSN=native://default
# smtp de reims
MAILER_DSN=

# seulement en dev, commenter en prod
# En dev: tous les mails envoyés par gramc-meso seront redirigés vers cette adresse
MAILER_RECIPIENT=
###< symfony/mailer ###

# ========================
# A METTRE DANS .env.local
# ========================
###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# Verifiez la version de mariadb
DATABASE_URL="mysql://nom-de-user:mot-de-passe@db:3306/nom-de-bd?serverVersion=10.11"
###< doctrine/doctrine-bundle ###

###> knplabs/knp-snappy-bundle ###
WKHTMLTOPDF_PATH="/usr/local/bin/wkhtmltopdf -n"
WKHTMLTOIMAGE_PATH=/usr/local/bin/wkhtmltoimage
###< knplabs/knp-snappy-bundle ###

###> symfony/framework-bundle ###
# dev ou prod
APP_ENV=dev 

# Pour crypter les cookies. Peut être généré avec: php <<< '<?php echo bin2hex(random_bytes(40));' && echo
APP_SECRET=
# true ou false
APP_DEBUG=true 
###< symfony/framework-bundle ###


# Mots de passe pour l'API
# Doit être renseigné même si le paramètre noconso est à true !
# Peut être généré avec: php <<<'<?php $p=bin2hex(random_bytes(35)); $h=password_hash($p,PASSWORD_DEFAULT); echo "password=$p\nhash=$h\n";'
# mettre ici le hash
#
PASSWORD_APIUFT=
PASSWORD_APICRIANN=

