*.sql.gz
*/env.sh

**/nginx/certs/
**/nginx/conf.d/*.conf
**/acme/acme.sh/*
**/app/.env
**/app/gramc-meso.conf
**/app/parameters.yaml
**/app/gramc-meso-var/*
**/app/public-documents/*
!**/app/public-documents/.ok
**/app/var-log/apache2/*
**/db/secrets/MARIADB_*
**/db/mysql/*
**/db/reprise/*
!**/db/reprise/.ok
