*/env.sh
gramc-meso/containers/app/.env
gramc-meso/containers/app/gramc-meso.conf
gramc-meso/containers/app/var-log/apache2/*
gramc-meso/containers/db/secrets/MARIADB_DATABASE
gramc-meso/containers/db/secrets/MARIADB_PASSWORD
gramc-meso/containers/db/secrets/MARIADB_ROOT_PASSWORD
gramc-meso/containers/db/secrets/MARIADB_USER
proxy/containers/acme/acme.sh/*
